Repository nikito/hass-music-assistant: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-yaml, check-toml

ruff-check:
  name: üê∂ Ruff Linter
  language: system
  entry: scripts/run-in-env.sh ruff check --fix
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

ruff-format:
  name: üê∂ Ruff Formatter
  language: system
  entry: scripts/run-in-env.sh ruff format
  require_serial: true
  stages:
  - pre-commit
  - pre-push
  - manual

check-ast:
  name: üêç Check Python AST
  language: system
  entry: scripts/run-in-env.sh check-ast

check-docstring-first:
  name: ‚ÑπÔ∏è  Check docstring is first
  language: system
  entry: scripts/run-in-env.sh check-docstring-first

check-json:
  name: ÔΩõ Check JSON files
  language: system
  entry: scripts/run-in-env.sh check-json

check-yaml:
  name: ÔΩõ Check YAML files
  language: system
  entry: scripts/run-in-env.sh check-yaml

check-toml:
  name: ‚úÖ Check TOML files
  language: system
  entry: scripts/run-in-env.sh check-toml

Expand the list of provided actions
  custom_components/mass/__init__.py
  custom_components/mass/actions.py
  custom_components/mass/services.py
  custom_components/mass/services.yaml
  custom_components/mass/strings.json
  custom_components/mass/translations/en.json
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-yaml

fix intent after recent refactor (#3136)
  custom_components/mass/intent.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Move get_queue to entity service
  custom_components/mass/actions.py
  custom_components/mass/media_player.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

Fix join action
  custom_components/mass/media_player.py
Due: ruff-check, ruff-format, check-ast, check-docstring-first

New split intent assist and or llm (#3148)
  custom_components/mass/actions.py
  custom_components/mass/intent.py
  custom_components/mass/media_player.py
  custom_components/mass/services.yaml
  custom_components/mass/strings.json
  custom_components/mass/translations/en.json
  custom_sentences/en/music_assistant_PlayMediaAssist.yaml
  custom_sentences/en/play_media_on_media_player.yaml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-json, check-yaml

Add radio mode to sentences and NAME in AREA (#3156)
  custom_components/mass/intent.py
  custom_components/mass/media_player.py
  custom_sentences/en/music_assistant_PlayMediaAssist.yaml
  custom_sentences/en/play_media_on_media_player.yaml
Due: ruff-check, ruff-format, check-ast, check-docstring-first, check-yaml

Update prompt to add radio stations
  prompt/prompt.txt
Due: none

Update prompt with additional instructions for radio stations
  prompt/prompt.txt
Due: none

fixing missing word in examples
  prompt/prompt.txt
Due: none

Path conditions:
  ruff-check: any of: \.py$
  ruff-format: any of: \.py$
  check-ast: any of: \.py$
  check-docstring-first: any of: \.py$
  check-json: any of: ^(custom_components/mass)/.+\.json$ and \.json$
  check-yaml: any of: \.(yaml|yml)$
  check-toml: any of: \.toml$
